*{
  padding:0;
  margin: 0;

  }
*, *::before *::after{
  box-sizing: border-box;
  }

  /* Roboto font style for h1 - p and body */

  h2, h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }

  body{
    font-family: 'Rubik', sans-serif;
    background:rgb(112, 12, 12);
  }

  a {
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
  }

  h1{
    width: 85%;
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    color: rgb(11, 11, 11);
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 3rem 0rem 3rem 0;
    margin-left: 2rem;
  }

  p{
    font-family: 'Rubik', sans-serif;
    color: rgb(112, 12, 12);;
    font-weight: 400;
  }

   /* Navbar and body */

  .navbar{
    background:rgb(112, 12, 12);
    z-index: 1000;
    position:fixed;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    align-content: center;
  }

  .burgermenu{
    display: none;
  }

  .menu{
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    z-index: 1000;
    width: 100%;
    font-size: 3rem;
    margin-right: 1rem;
  }

  .menu a{
    display: -webkit-box;
    display: flex;
    text-decoration: none;
    color: rgb(238, 237, 237);
    cursor: pointer;
    -webkit-transition: 1000ms ease-in-out;
    transition: 1000ms ease-in-out;
    font-family: 'Rubik', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.6rem;
  }

  .menu a:hover{
    background: rgb(238, 237, 237);
    padding: 0.9rem;
    text-decoration: none;
    color:rgb(112, 12, 12);  
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transform: (10%);
            transform: (10%)
  }

  /* Header*/
   
  .headerimg{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url('./images/jade-stephens-yNo9dpaQA4M-unsplash.jpg');
    background-repeat: no-repeat;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .probe{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    width: 200px;
    margin-left: 2.3rem;
  }

  .abo{
    background:rgb(112, 12, 12);
    padding: 0.5rem;
    cursor: pointer;
    border: solid rgba(0, 0, 0, 0.205)
  }

  .abo:hover{
    background:rgb(114, 114, 114);
    padding: 0.5rem;
    cursor: pointer;
  }

  .logo-container{
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .logo{
    background-image: url('./images/Yogahaus_Visual_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
  }

  /* divider */

  .divider{
    height: 40px;
    width: 100%;
    background:rgb(112, 12, 12);
  }

  /* Workshops */


  .section-workshop{
    background: rgb(238, 237, 237);
    height: 800px;
    width: 100%;
  }

  .work{
   color:rgb(112, 12, 12);
   padding: 1.2rem;
  }

  .container-workshop{
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1.2rem;
  }

  /* titles for work shop */

  .mp{
    color:rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
  }
  
  .pic1{
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic{ 
    background-image: url('./images/raimond-klavins-UvWx67Ivqe0-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  .pic2{
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic2{ 
    background-image: url('./images/dane-wetton-AkSJQnem75Y-unsplash.jpg');
    background-size: cover;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic2{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic2 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic2 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup2{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup2 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more2 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }


  .pic3{
    display: grid;
    grid-column: 3;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic3{ 
    background-image: url('./images/benn-mcguinness-ooL_PvggBaE-unsplash.jpg');
    background-size: cover;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic3{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic3 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic3 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup3{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup3 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more3 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }


  .pic4{
    grid-column: 4;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic4{ 
    background-image: url('./images/angela_asana_DSC2738_lauraegger.jpg');
    background-size: cover;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic4{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic4 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic4 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup4{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup4 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more4 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  /* Blog text */

  .pic5{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic5{ 
    background-image: url('./images/dane-wetton-lBpmXaNQOCM-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic5{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic5 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic5 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup5{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup5 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more5 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  .pic6{
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic6{ 
    background-image: url('./images/rawan-yasser-wW2vx4uO6tQ-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic6{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic6 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic6 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup6{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup6 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more6 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  
  .pic7{
    grid-column: 3;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic7{ 
    background-image: url('./images/katie-bush-XUyYBfsvCec-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic7{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic7 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic7 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup7{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup7 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more7 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

 
  .pic8{
    grid-column: 4;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic8{ 
    background-image: url('./images/ara-cho-m_zmf2J063Q-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic8{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic8 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic8 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup8{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup8 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more8 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  /* Ausblidung */

  .ausbildung{
    background: rgb(238, 237, 237);
    height: 600px;
    width: 100%;
  }

  .ausbildung-container{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1.2rem;
}

  .pic9{
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic9{ 
    background-image: url('./images/dmitriy-frantsev-Vv9ZLASXfTo-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic9{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic9 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic9 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup9{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup9 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more9 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  .pic10{
    display: grid;
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic10{ 
    background-image: url('./images/jared-rice-NTyBbu66_SI-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic10{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic10 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic10 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup10{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup10 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more10 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  .pic11{
    display: grid;
    grid-column: 3;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic11{ 
    background-image: url('./images/yayan-sopian-jQqn81J-PhQ-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic11{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic11 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic11 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup11{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup11 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more11 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }

  .pic12{
    display: grid;
    grid-column: 4;
    height: 250px;
    padding: 1.2rem;
  }

  .clickpic12{ 
    background-image: url('./images/kike-vega-F2qh3yjz6Jk-unsplash.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .buttonpic12{
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 300;
    cursor: pointer;
    color:rgb(112, 12, 12);
    font-weight: 700;
    margin-bottom: -1.9rem;
  }

  .buttonpic12 div{
    background: rgb(238, 237, 237);
    color: rgb(112, 12, 12);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1000ms ease-in-out;
  }

  .buttonpic12 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .popup12{
    background: rgba(238, 237, 237, 0.938);
    height: 250px;
    width: 100%;
    display: none;
  }

  .popup12 p{
    font-size: 0.8rem;
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    color:rgb(112, 12, 12);
  }

  .more12 {
    color: rgb(238, 237, 237);
    background: rgb(112, 12, 12);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.8rem;
    cursor: pointer;
  }


  .an{
    background:rgb(112, 12, 12);
    padding: 0.5rem;
    width: 100px;
    margin-left: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    border: solid rgba(0, 0, 0, 0.205);
    color: white
  }

  .an:hover{
    background:rgb(114, 114, 114);
    padding: 0.5rem;
    cursor: pointer;
  }





   /* Ultra wide desktop */

  @media screen and (min-width: 1450px) {
    body{
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;

    }
   
    .ultra-wide{
        height: 100%;
        width:  1450px;
        display: block;
        -webkit-box-pack: center;
                justify-content: center;
    }  

    .navbar{
      width: 1450px;
    }


  }

  /* ipadpro and small moniters from 1025px - 975px */

@media screen and (max-width: 1025px)  {
  .menu{
    display: none;
  }

  .navbar{
    display: flex;
    justify-content: flex-end;
  }

  .burger{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }

  .burger img{
    -webkit-filter:invert(100%);
            filter:invert(100%);
    width: 20px;
    height: auto;
    cursor: pointer;
   
  }

  .burgermenu{
    position: fixed;
    right: 0;
    top: 2.5rem;
    width: 103px;
    height: 300px;
    background:rgb(112, 12, 12);
    z-index: 1000;
    border-top: none;
    display: none;
    width: 250px;
  }

  .burgermenu div{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 20px;
    height: 300px;
  }

  .burgermenu a{
    text-decoration: none;
    color:white;
  }

  .burgermenu a:hover{
    background: rgb(238, 237, 237);
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
    color:rgb(112, 12, 12);  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* work shop contianer */

  .section-workshop{
    background: rgb(238, 237, 237);
    height: 1400px;
    width: 100%;
  }

  .container-workshop{
    height: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-top: 1.2rem;
  }

  .pic3{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .pic4{
    display: grid;
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

  .pic7{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .pic8{
    display: grid;
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

  .ausbildung{
    background: rgb(238, 237, 237);
    height: 900px;
    width: 100%;
  }

  .ausbildung-container{
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-top: 1.2rem;
  }

  .pic11{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }
  .pic12{
    display: grid;
    grid-column: 2;
    height: 250px;
    padding: 1.2rem;
  }

}

/* tablet use form 975px - 540px  */

@media screen and (max-width: 975px)  {
 
  /* aboutme tablet use */

  .aboutme{
    background: black;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  .portrait{
    background-image: url('./images/josue-ladoo-pelegrin-xehVAf_qSQQ-unsplash.jpg');
    background-size: cover;
    border-right: none;
    border-bottom: solid white;
    width: 100%;
  }

  .aboutmetext{
    width: 80%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
  }

  .aboutmetext h2{
    color: white;
    height: 60px;
    margin-top: 4rem;
  }
  
  .aboutmetext p{
    color: white;
    width: 100%;
    padding-bottom: 2rem;
  }

}

/* This is for sizing for mobile from 540px - 320px */

@media screen and (max-width: 640px) {

  /* aboutme / portaitpicture for mobile use */

  .aboutme{
    background: black;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
  }

  .portrait{
    background-image: url('./images/josue-ladoo-pelegrin-xehVAf_qSQQ-unsplash.jpg');
    background-size: cover;
    border-right: none;
    border-bottom: solid white;
    width: 100%;
  }

  .aboutmetext{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
  }

  .aboutmetext h2{
    color: white;
    height: 60px;
  }
  
  .aboutmetext p{
    color: white;
    width: 100%;
    padding-bottom: 4rem;
  }

  /* Blog section for mobile use */


  /* bolg gird for moble use
  pic = the picture with motion
  textblog = under text for the (pic)  */

 
  /* work shop contianer */

  .section-workshop{
    background: rgb(238, 237, 237);
    height: 2800px;
    width: 100%;
  }
  
  .container-workshop{
    height: 2700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;
    padding-top: 1.2rem;
  }
  
  .pic2{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }
  
  
  .pic3{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }
  
  .pic4{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .pic6{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }
  
  .pic7{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }
  
  .pic8{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  /* Ausbildung */

  .ausbildung{
    background: rgb(238, 237, 237);
    height: 1500px;
    width: 100%;
  }
  
  .ausbildung-container{
    height: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;
    padding-top: 1.2rem;
  }

  .pic10{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .pic11{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  .pic12{
    display: grid;
    grid-column: 1;
    height: 250px;
    padding: 1.2rem;
  }

  /*  workshop hover bar size change  */
  
  .buttonpic div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  .buttonpic2 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .buttonpic3 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .buttonpic4 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  .buttonpic5 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .buttonpic6 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .buttonpic7 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .buttonpic8 div:hover{
    background: rgb(112, 12, 12);
    color: rgb(238, 237, 237);
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .burgermenu{
    position: fixed;
    right: 0;
    top: 2.5rem;
    padding: 0 5px;
    height: 300px;
    background:rgb(112, 12, 12);
    z-index: 1000;
    border-top: none;
    display: none;
    width: 100%;
  }

  .popup p, .popup2 p, .popup3 p, .popup4 p, .popup5 p, .popup6 p, .popup7 p, .popup8 p{
    font-size: 1rem;
  }

}

